*{
    color: #fff;
}
.contour{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #1f1f1f;
    border: 2px solid var(--input-);
    & h1{
        font-size: 20px;
    }
}
section{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq{
    padding-bottom: 1rem;
    cursor: pointer;
    border-bottom: 2px solid var(--blanc-);
    margin-top: 1rem;
    max-width: 700px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 20px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 17px;
}
.faq.active .answer{
    max-height: 300px;
}
