
.photo{
        height:100%;
    }
    .contenido{
        width: 604px;
        height: 450px;
        background: var(--content-);
        border-radius: 50px;
        & .portada{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border:1px solid var(--content-);
        background: #232324;
        width: 604px;
        height: 305px;
        overflow: hidden;
            &
        img{
                width:100%;
        height:100%;
        object-fit:cover;
            }
        }
        & .foto{
        padding-left: 25px;
        position: relative;
        top: -16pc;
        /* display: flex; */
        /* flex-direction: column; */
        align-content: center;
        align-items: center;
        border-radius: 100px;
            & .myfoto{
        border: 3px solid red;
        border-radius: 10pc;
        width: 100px;
        height: 100px;
        overflow: hidden;
        background: var(--content-);
        display: inline-block;
                &
        img{
                    width: 100%;
        height: 100%;
        object-fit: cover;
                }
        }
        }
        & .infor{
        position: relative;
        top:-2pc;
        border-radius: 20px;
        width: 604px;
        background: #19191a;
        /* width: 100; */
        height:180px;
        border: 1px solid var(--content-);
            & .inf{
        width: 100%;
        padding: 20px;
        position: relative;
        top: 3pc;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
                & .groupname{
        position: relative;
        font-size: 20px;
        top: -4pc;
        left: 7.5pc;
        font-family: tahoma;
        font-weight: bold;
        color: #fff;
        }
                & .usermore
        img{
                    position: relative;
        top: -20px;
        width: 25px;
                }
                & .usermore
        span{
                    color: #fff;
        position: relative;
        top: -27px;
                }
                & .usermore>.group_button>.button{
        display: flex;
        /* display: inline-flex; */
        flex-direction: row;
        justify-content: center;
                        &
        button{
                                
                        display: flex;
        justify-content: center;
        background: #199dda;
        border: 1px solid #199dda;
        border-radius: 10px;
        padding: 10px;
        width: 280px;
        font-weight: bold;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
                        }
                        &
        button[id="reporter"]{
                                background:var(--input-);
        border: 1px solid var(--input-);
        color: var(--blanc-);
                        }
                }
        }
        }
    }
    .tipos{
        margin-top: 40px;
        background: #232324;
        padding: 10px;
        border-radius: 15px;
        & .content{
                background: #19191a;
                padding: 10px;
                border-radius: 15px;
                border: 1px solid var(--content-);
                /* height: 7rem; */
        }
    }

    /*tabs group*/
    .tabs__label{
        font-size: 15px;
        padding: 4px 20px;
    }
    .posti{
        width: 100%;
        
    }
    .posted{
        width: 100%;
        margin-top: 10px;
        border: 2px solid var(--content-);
        border-radius: 15px;
        background: #232324;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        & .post{
                width: 100%
        }
        /*zone*/
        & .zone{
                width: 100%;
        }
        & input[name="texto"]{
                padding: 30px 20px;
                width: 100%;
                background: #232324;
                border:none;
                font-size: 15px;
                color:var(--blanc-);
        }
        & input:focus{
                outline: none;
        }
        /*inicio more*/
        & .more{
                width: 100%;
                display: inline-flex;
                padding-bottom: 20px;
        }
        /*docs*/
        & .docs{
                width: 50%;
                display: inline-flex;
                padding-left: 20px;
                padding-top: 0px;
        }
        & input[type="file"]{
                width: 3pc;
                background: transparent;
                height: 3pc;
                background-image: url(../../imges/icons/archivo.png);
                border: none;
                background-size: contain;
                text-indent: -9999px;
                background-repeat: no-repeat;

        }
        /*public*/
        & .public{
                padding-bottom: 10px;
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: end;
                padding-right: 20px;
        }
        & input[type="submit"]{
                padding: 10px;
                color: var(--blanc-);
                background: #199dda;
                font-weight: bold;
                border: 1px solid #199dda;
                border-radius: 10px;
                font-size: 13px;
                align-self: flex-end;
        }
        /*fin more*/
    }
    
    .posts{
        & .post{
           & .box{
                margin-top: 10px;
                border: 2px solid var(--content-);
                border-radius: 15px;
                padding: 20px;
                background: #232324;
                color: white;
                & .header{
                        display: inline-flex;
                        width: 100%;
                        padding-bottom: 5px;
                        border-bottom: 2px solid var(--content-);
                   & .omg{
                        width: 3pc;
                        height: 3pc;
                        overflow: hidden;
                        border-radius: 100%;
                        border: 3px solid var(--content-);
                        & img{
                          height: 100%;
                          width: 100%;
                          background-size: cover;
                        }
                    }
                    & .info{
                        width: 30%;
                        padding-left: 10px;
                    }
                    & .option{
                        width: 60%;
                    }
                }
                & .posteo{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid var(--content-);
                        & .imgps{
                                padding-top: 10px;
                        }
                        & img{
                                border-radius: 15px;
                        }
                }
                & .footer{
                        width: 100%;
                        display: flex;
                        padding-top: 10px;
                        & .reacts{
                                width: 60%;
                                & ul{
                                        & li{
                                                background: var(--content-);
                                                border-radius: 20px;
                                                padding: 10px;
                                                margin-left: 5px;
                                        }

                                        & li:not(:last-child)::after{
                                                content: "";
                                            }
                                }
                        }
                        & .vista{
                                padding: 10px;
                                display: flex;
                                & .nums{
                                        padding-left: 10px;
                                }
                        }
                }
            }
        }
    }
.content{
        max-height: calc(2 * (97px + 10px)); /* Altura máxima para dos filas de imágenes */
        overflow: hidden;
        & .description{
                display: grid;
                grid-template-rows: repeat(2, minmax(0, auto));     
        }
        & .imgs{
        display: inline-flex;
        max-width: 100%;
        flex-wrap: wrap;
                & .posts{
                        width: 100px;
                        padding: 5px;
                        height: 100px;
        
                        overflow: hidden;

                        & img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        }
                        & video{
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                background-size: contain;
                                background-repeat: no-repeat;
                        }
                }
                & .posts {
                        border: 1px solid var(--input-);
                        position: relative;
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        border-radius: 10px;
                    }
                    & .ved{
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: 100%;
                    }
                    & .duration{
                        position: relative;
                        top: -25px;
                        display: flex;
                        justify-content: end;
                    }
                    & .modal {
                        display: none;
                        position: fixed;
                        z-index: 999;
                        left: 0;
                        top: 0;
                        width: 100%;
                        
                        height: 600px;
                        background-color: rgba(0, 0, 0, 0.7);

                    }
                    & .md{
                        display: flex;
                    }
                    & .view{
                        position: relative;
                        width: 700px;
                        height: 560px;
                        background: var(--fondo-);
                        border: 2px solid var(
                        --content-);
                        top: 45px;
                        overflow: hidden;
                    }
                    & .modal>.view video {
                        width: 100%;
                        height: 100%;
                        display: block;
                        margin: 0 auto;
                        /* margin-top: 10%; */
                    }
                    
                    & .close {
                        color: #fff;
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        font-size: 30px;
                        cursor: pointer;
                    }
                    & .postinfo{
                        background: #19191a;
                    }
        }
}
.masarch{
        width: 100%;
        & h1{
                text-align: center;
        }
}