.contour{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #1f1f1f;
    border: 2px solid var(--input-);
    & h1{
        font-size: 20px;
    }
    & .content{
        & .img{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }
    & .description{
        color: var(--blanc-);
        display: inline-flex;
        width: 100%;
        & .names{
            width: 50%;
            & a{
                color: #46acdb;
            }
        }
        & .cargos{
            width: 50%;
        }
    }
}
